USE [mySpaceman_datdb]
GO
/****** Object:  Table [dbo].[ACN_PRODUCT]    Script Date: 2017-09-07 09:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACN_PRODUCT](
	[PRODUCT_ID] [nvarchar](255) NOT NULL,
	[UPC] [nvarchar](255) NULL,
	[KEY_VAL] [nvarchar](255) NULL,
	[PROD_NAME] [nvarchar](255) NULL,
	[PROD_SIZE] [float] NULL,
	[UOM] [nvarchar](255) NULL,
	[MANUFACTURER] [nvarchar](255) NULL,
	[CATEGORY] [nvarchar](255) NULL,
	[SHAPE_ID] [nvarchar](255) NULL,
	[PACKAGE_TYPE] [smallint] NULL,
	[HEIGHT] [float] NULL,
	[WIDTH] [float] NULL,
	[DEPTH] [float] NULL,
	[PEG_1_RIGHT] [float] NULL,
	[PEG_1_DOWN] [float] NULL,
	[PEG_2_RIGHT] [float] NULL,
	[PEG_2_DOWN] [float] NULL,
	[VERT_NEST] [float] NULL,
	[HORIZ_NEST] [float] NULL,
	[DEPTH_NEST] [float] NULL,
	[STD_ORIENT] [smallint] NULL,
	[UNITS_CASE] [smallint] NULL,
	[CASE_HEIGHT] [float] NULL,
	[CASE_WIDTH] [float] NULL,
	[CASE_DEPTH] [float] NULL,
	[UNITS_TRAY] [smallint] NULL,
	[TRAY_HEIGHT] [float] NULL,
	[TRAY_WIDTH] [float] NULL,
	[TRAY_DEPTH] [float] NULL,
	[BASKET_FACTOR] [smallint] NULL,
	[HANG] [smallint] NULL,
	[STD_PEG_HOLE] [smallint] NULL,
	[MAX_HIGH] [smallint] NULL,
	[MAX_DEEP] [smallint] NULL,
	[VERT_GAP] [float] NULL,
	[MIN_FACINGS] [smallint] NULL,
	[MAX_FACINGS] [smallint] NULL,
	[DESC_A] [nvarchar](255) NULL,
	[DESC_B] [nvarchar](255) NULL,
	[DESC_C] [nvarchar](255) NULL,
	[DESC_D] [nvarchar](255) NULL,
	[DESC_E] [nvarchar](255) NULL,
	[DESC_F] [nvarchar](255) NULL,
	[DESC_G] [nvarchar](255) NULL,
	[DESC_H] [nvarchar](255) NULL,
	[DESC_I] [nvarchar](255) NULL,
	[DESC_J] [nvarchar](255) NULL,
	[SHARE_VAL] [float] NULL,
	[DISCOUNT] [float] NULL,
	[DISCOUNT_PER] [float] NULL,
	[NET_DISCOUNT_PER] [float] NULL,
	[UNIT_COST] [float] NULL,
	[COST] [float] NULL,
	[PEG_NEST] [float] NULL,
	[MANUAL_INV] [smallint] NULL,
	[MODEL_SCHED] [nvarchar](255) NULL,
	[PEG_3_RIGHT] [float] NULL,
	[PEG_3_DOWN] [float] NULL,
	[DISPLAY_HEIGHT] [float] NULL,
	[DISPLAY_WIDTH] [float] NULL,
	[DISPLAY_DEPTH] [float] NULL,
	[FIT_TYPE] [smallint] NULL,
	[MIN_HIGH] [smallint] NULL,
	[MIN_DEEP] [smallint] NULL,
	[UNITS_TRAY_WIDE] [smallint] NULL,
	[UNITS_TRAY_DEEP] [smallint] NULL,
	[UNITS_TRAY_HIGH] [smallint] NULL,
	[UNITS_CASE_WIDE] [smallint] NULL,
	[UNITS_CASE_DEEP] [smallint] NULL,
	[UNITS_CASE_HIGH] [smallint] NULL,
	[FILL_COLOR] [smallint] NULL,
	[MERCH_STYLE] [smallint] NULL,
	[CAP_STYLE] [smallint] NULL,
	[DEPTH_FILL] [smallint] NULL,
	[RANK] [nvarchar](255) NULL,
	[FRONT_0] [smallint] NULL,
	[FRONT_90] [smallint] NULL,
	[FRONT_180] [smallint] NULL,
	[FRONT_270] [smallint] NULL,
	[TOP_0] [smallint] NULL,
	[TOP_90] [smallint] NULL,
	[TOP_180] [smallint] NULL,
	[TOP_270] [smallint] NULL,
	[LEFT_0] [smallint] NULL,
	[LEFT_90] [smallint] NULL,
	[LEFT_180] [smallint] NULL,
	[LEFT_270] [smallint] NULL,
	[BACK_0] [smallint] NULL,
	[BACK_90] [smallint] NULL,
	[BACK_180] [smallint] NULL,
	[BACK_270] [smallint] NULL,
	[BOTTOM_0] [smallint] NULL,
	[BOTTOM_90] [smallint] NULL,
	[BOTTOM_180] [smallint] NULL,
	[BOTTOM_270] [smallint] NULL,
	[RIGHT_0] [smallint] NULL,
	[RIGHT_90] [smallint] NULL,
	[RIGHT_180] [smallint] NULL,
	[RIGHT_270] [smallint] NULL,
	[FULL_FACINGS] [smallint] NULL,
	[TAX_PER] [float] NULL,
	[MOVEMENT_BASIS] [smallint] NULL,
	[COST_BASIS] [smallint] NULL,
	[TAX_CODE] [smallint] NULL,
	[COST_2] [float] NULL,
	[MAX_HORIZ_CRUSH] [float] NULL,
	[MAX_VERT_CRUSH] [float] NULL,
	[MAX_DEPTH_CRUSH] [float] NULL,
	[COLOUR] [int] NULL,
	[COLOURISCLEAR] [smallint] NULL,
	[CONTAINER] [smallint] NULL,
	[CONTAINHEIGHT] [float] NULL,
	[CONTAINWIDTH] [float] NULL,
	[CONTAINDEPTH] [float] NULL,
	[PEG_1_DEPTH] [float] NULL,
	[USEIMAGEOVERRIDE] [smallint] NULL,
	[USEUNITIMAGEFORTRAYSANDCASES] [smallint] NULL,
	[IMAGEOVERRIDE] [nvarchar](255) NULL,
	[BRAND] [nvarchar](255) NULL,
	[SUBCATEGORY] [nvarchar](255) NULL,
	[DZIALANIA_MARKETINGOWE] [nvarchar](255) NULL,
	[KONTRAKT] [nvarchar](255) NULL,
	[ROLA_ASORTYMENTOWA] [smallint] NULL,
	[dbname] [nvarchar](255) NULL,
 CONSTRAINT [PK_ACN_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ACN_PRODUCT] ADD  CONSTRAINT [dft_dbname]  DEFAULT ('NETWORK') FOR [dbname]
GO
