USE [mySpaceman_datdb]
GO
/****** Object:  Table [dbo].[Product$_05_2017_V1]    Script Date: 2017-09-07 09:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product$_05_2017_V1](
	[Product_ID] [float] NULL,
	[Desc_A] [float] NULL,
	[Desc_B] [nvarchar](255) NULL,
	[Desc_C] [nvarchar](255) NULL,
	[UPC] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
	[Key_Val] [nvarchar](255) NULL,
	[Manufacturer] [nvarchar](255) NULL,
	[Category] [nvarchar](255) NULL,
	[Subcategory] [nvarchar](255) NULL,
	[Preferred_Fixel] [nvarchar](255) NULL,
	[Rank] [float] NULL,
	[Std_Orient] [float] NULL,
	[Height] [float] NULL,
	[Width] [float] NULL,
	[Depth] [float] NULL,
	[Vert_Nest] [float] NULL,
	[Max_Vert_Crush] [float] NULL,
	[Max_High] [float] NULL,
	[Max_Deep] [float] NULL,
	[Min_High] [float] NULL,
	[Min_Deep] [float] NULL,
	[Colour] [float] NULL,
	[Price] [float] NULL,
	[Price2] [float] NULL,
	[Desc_D] [nvarchar](255) NULL,
	[Desc_E] [nvarchar](255) NULL,
	[Desc_F] [float] NULL,
	[Desc_G] [nvarchar](255) NULL,
	[Desc_H] [float] NULL,
	[Desc_I] [float] NULL,
	[Desc_J] [nvarchar](255) NULL
) ON [PRIMARY]

GO
