USE [mySpaceman_datdb]
GO
/****** Object:  Table [dbo].[ACN_PRN]    Script Date: 2017-09-07 09:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACN_PRN](
	[PLN_ID] [int] NOT NULL,
	[STORE_ID] [nvarchar](255) NOT NULL,
	[SHOWDATE] [smallint] NULL,
	[FIRSTSEGMENT] [smallint] NULL,
	[LASTSEGMENT] [smallint] NULL,
	[TRAFFIC_ARROW] [smallint] NULL,
	[SHOWTITLE] [smallint] NULL,
	[SHOWSUBTITLE] [smallint] NULL,
	[SHOWTEXTBOXES] [smallint] NULL,
	[SHOWVERTRULER] [smallint] NULL,
	[SHOWHORZRULER] [smallint] NULL,
	[SEG_WIDTHS_ARROWS] [smallint] NULL,
	[FIXEL_DISTANCES] [smallint] NULL,
	[DIST_RELATIVE] [smallint] NULL,
	[FIRST_PEG_HEIGHT] [smallint] NULL,
	[FIRST_PEG_LENGTH] [smallint] NULL,
	[DIM_SHELF_DEPTHS] [smallint] NULL,
	[DIM_GR_HEIGHTS] [smallint] NULL,
	[SEGMENTSPLIT] [smallint] NULL,
	[INCLUDETIME] [smallint] NULL,
	[INCLUDEFILENAME] [smallint] NULL,
	[INCLUDEDIMENSIONS] [smallint] NULL,
	[INCLUDELOGOS] [smallint] NULL,
	[LOGOFILENAME] [nvarchar](255) NULL,
	[INCLUDENOTES] [smallint] NULL,
	[NOTEPOSITION] [smallint] NULL,
	[TITLEFONTNAME] [nvarchar](255) NULL,
	[TITLEFONTSIZE] [smallint] NULL,
	[TITLEFONTBOLD] [smallint] NULL,
	[TITLEFONTITALIC] [smallint] NULL,
	[TITLEFONTCHARSET] [smallint] NULL,
	[SUBTITLEFONTNAME] [nvarchar](255) NULL,
	[SUBTITLEFONTSIZE] [smallint] NULL,
	[SUBTITLEFONTBOLD] [smallint] NULL,
	[SUBTITLEFONTITALIC] [smallint] NULL,
	[SUBTITLEFONTCHARSET] [smallint] NULL,
	[DATEFONTSIZE] [smallint] NULL,
	[DATEFONTBOLD] [smallint] NULL,
	[DATEFONTITALIC] [smallint] NULL,
	[DATEFONTCHARSET] [smallint] NULL,
	[TIMEFONTNAME] [nvarchar](255) NULL,
	[TIMEFONTSIZE] [smallint] NULL,
	[TIMEFONTBOLD] [smallint] NULL,
	[TIMEFONTITALIC] [smallint] NULL,
	[TIMEFONTCHARSET] [smallint] NULL,
	[FILENAMEFONTNAME] [nvarchar](255) NULL,
	[FILENAMEFONTSIZE] [smallint] NULL,
	[FILENAMEFONTBOLD] [smallint] NULL,
	[FILENAMEFONTITALIC] [smallint] NULL,
	[FILENAMEFONTCHARSET] [smallint] NULL,
	[DIMENSIONSFONTNAME] [nvarchar](255) NULL,
	[DIMENSIONSFONTSIZE] [smallint] NULL,
	[DIMENSIONSFONTBOLD] [smallint] NULL,
	[DIMENSIONSFONTITALIC] [smallint] NULL,
	[DIMENSIONSFONTCHARSET] [smallint] NULL,
	[SEGMENTDESCRIPTIONFONTNAME] [nvarchar](255) NULL,
	[SEGMENTDESCRIPTIONFONTSIZE] [smallint] NULL,
	[SEGMENTDESCRIPTIONFONTBOLD] [smallint] NULL,
	[SEGMENTDESCRIPTIONFONTITALIC] [smallint] NULL,
	[SEGMENTDESCRIPTIONFONTCHARSET] [smallint] NULL,
	[PRIMARYVIEW] [smallint] NULL,
	[PRIMARYSTRETCHTOFIT] [smallint] NULL,
	[PRIMARYHORIZONTALROTATION] [smallint] NULL,
	[PRIMARYVERTICALROTATION] [smallint] NULL,
	[SECONDARYVIEW] [smallint] NULL,
	[SECONDARYSTRETCHTOFIT] [smallint] NULL,
	[SECONDARYHORIZONTALROTATION] [smallint] NULL,
	[SECONDARYVERTICALROTATION] [smallint] NULL,
	[SPLIT] [smallint] NULL,
	[BLUEPRINT] [smallint] NULL,
	[SEGMENTOPTION] [smallint] NULL,
	[SELECTSEGMENT] [smallint] NULL,
	[SEGMENTEVERY] [float] NULL,
	[SEGMENTFROM] [float] NULL,
	[SEGMENTTO] [float] NULL,
	[CUSTOMSEGMENTSTRING] [nvarchar](255) NULL,
	[OUTPUTDESIGNERTEMPLATEFILENAME] [nvarchar](255) NULL,
	[INCLUDEPAGENUMBER] [smallint] NULL,
	[PAGENUMBERFORMAT] [smallint] NULL,
	[PRINTSEGMENTNUMBER] [smallint] NULL,
	[IGNORENONSEGMENTOBJECTS] [smallint] NULL,
	[DIMELEVATIONENDPOINT] [smallint] NULL,
	[INCLUDEOUTPUTDESIGNERTEMPLATE] [smallint] NULL,
	[ORIENTATION] [smallint] NULL,
	[PRINTLEGEND] [smallint] NULL,
	[LEGENDLOCATION] [smallint] NULL,
	[LEGENDFONTNAME] [nvarchar](255) NULL,
	[LEGENDFONTSIZE] [smallint] NULL,
	[LEGENDFONTBOLD] [smallint] NULL,
	[LEGENDFONTITALIC] [smallint] NULL,
	[LEGENDFONTCHARSET] [smallint] NULL,
	[NOTESFONTNAME] [nvarchar](255) NULL,
	[NOTESFONTSIZE] [smallint] NULL,
	[NOTESFONTBOLD] [smallint] NULL,
	[NOTESFONTITALIC] [smallint] NULL,
	[NOTESFONTCHARSET] [smallint] NULL,
 CONSTRAINT [PK_ACN_PRN] PRIMARY KEY CLUSTERED 
(
	[PLN_ID] ASC,
	[STORE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ACN_PRN]  WITH NOCHECK ADD  CONSTRAINT [FK_ACN_PRN] FOREIGN KEY([PLN_ID])
REFERENCES [dbo].[ACN_PLANOGRAMS] ([PLN_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ACN_PRN] CHECK CONSTRAINT [FK_ACN_PRN]
GO
