USE [mySpaceman_datdb]
GO
/****** Object:  Table [dbo].[ACN_SECTION]    Script Date: 2017-09-07 09:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACN_SECTION](
	[PLN_ID] [int] NOT NULL,
	[GONDOLA] [nvarchar](255) NULL,
	[AISLE] [nvarchar](255) NULL,
	[DEPARTMENT] [nvarchar](255) NULL,
	[BACK_DEPTH] [float] NULL,
	[BASE_HEIGHT] [float] NULL,
	[BASE_WIDTH] [float] NULL,
	[BASE_DEPTH] [float] NULL,
	[NOTCH_WIDTH] [float] NULL,
	[NOTCH_SPACING] [float] NULL,
	[NOTCH_START] [float] NULL,
	[SECTION_ID] [nvarchar](255) NOT NULL,
	[SECTION_NAME] [nvarchar](255) NULL,
	[X] [float] NULL,
	[Y] [float] NULL,
	[Z] [float] NULL,
	[HEIGHT] [float] NULL,
	[WIDTH] [float] NULL,
	[DEPTH] [float] NULL,
	[MIN_X] [float] NULL,
	[MIN_Y] [float] NULL,
	[MIN_Z] [float] NULL,
	[SEGMENT_WIDTH] [float] NULL,
	[VERT_SPACING] [float] NULL,
	[VERT_START] [float] NULL,
	[HORIZ_SPACING] [float] NULL,
	[HORIZ_START] [float] NULL,
	[ALLOW_OVERLAP] [smallint] NULL,
	[FILL_COLOR] [smallint] NULL,
	[TRAFFIC_FLOW] [smallint] NULL,
	[COLOUR] [int] NULL,
	[COLOURISCLEAR] [smallint] NULL,
	[FILL_PATTERN] [smallint] NULL,
 CONSTRAINT [PK_ACN_SECTION] PRIMARY KEY CLUSTERED 
(
	[PLN_ID] ASC,
	[SECTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ACN_SECTION]  WITH NOCHECK ADD  CONSTRAINT [FK_ACN_SECTION] FOREIGN KEY([PLN_ID])
REFERENCES [dbo].[ACN_PLANOGRAMS] ([PLN_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ACN_SECTION] CHECK CONSTRAINT [FK_ACN_SECTION]
GO
