USE [mySpaceman_datdb]
GO
/****** Object:  Table [dbo].[mySpacemanDBInfo]    Script Date: 2017-09-07 09:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mySpacemanDBInfo](
	[PLN_ID] [int] NOT NULL,
	[DBIDENTIFIER] [nvarchar](255) NULL
) ON [PRIMARY]

GO
