USE [mySpaceman_datdb]
GO
/****** Object:  Table [dbo].[ACN_POSITION]    Script Date: 2017-09-07 09:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACN_POSITION](
	[PLN_ID] [int] NOT NULL,
	[POS_ORDER] [smallint] NULL,
	[LOCATION_ID] [nvarchar](255) NULL,
	[FILL_COLOR] [smallint] NULL,
	[MERCH_STYLE] [smallint] NULL,
	[POSITION_ID] [nvarchar](255) NOT NULL,
	[X] [float] NULL,
	[Y] [float] NULL,
	[Z] [float] NULL,
	[PEG_ROW] [smallint] NULL,
	[PEG_COL] [smallint] NULL,
	[PEG_ID] [nvarchar](255) NULL,
	[TOTAL_FACINGS] [smallint] NULL,
	[CAP_STYLE] [smallint] NULL,
	[TOTAL_UNITS] [smallint] NULL,
	[MAX_UNITS] [smallint] NULL,
	[SHELF_LOC] [smallint] NULL,
	[VERT_SPACE] [float] NULL,
	[HORIZ_SPACE] [float] NULL,
	[DEPTH_SPACE] [float] NULL,
	[DIRECTION] [smallint] NULL,
	[SLOPE] [smallint] NULL,
	[DEPTH_FACINGS] [smallint] NULL,
	[PEG] [int] NULL,
	[HIGHLIGHT] [smallint] NULL,
	[REQ_INV] [smallint] NULL,
	[H_REMAIN] [smallint] NULL,
	[V_REMAIN] [smallint] NULL,
	[VERTICAL] [smallint] NULL,
	[HORIZONTAL] [smallint] NULL,
	[FIT_TYPE] [smallint] NULL,
	[D_REMAIN] [smallint] NULL,
	[DEPTH_FILL] [smallint] NULL,
	[ORIENTATION] [smallint] NULL,
	[SHELF_TAGS] [smallint] NULL,
	[FIXED] [smallint] NULL,
	[SECTION_ID] [nvarchar](255) NULL,
	[PRODUCT_ID] [nvarchar](255) NULL,
	[FIXEL_ID] [nvarchar](255) NOT NULL,
	[HORIZ_CRUSH] [float] NULL,
	[VERT_CRUSH] [float] NULL,
	[DEPTH_CRUSH] [float] NULL,
	[ROTATION] [smallint] NULL,
	[PEGSPREAD] [smallint] NULL,
	[COMPLEX] [smallint] NULL,
	[LEFTHORIZONTAL] [smallint] NULL,
	[LEFTVERTICAL] [smallint] NULL,
	[LEFTDEPTHFACINGS] [smallint] NULL,
	[LEFTHORIZCRUSH] [float] NULL,
	[LEFTVERTCRUSH] [float] NULL,
	[LEFTDEPTHCRUSH] [float] NULL,
	[LEFTORIENTATION] [smallint] NULL,
	[LEFTMERCHSTYLE] [smallint] NULL,
	[RIGHTHORIZONTAL] [smallint] NULL,
	[RIGHTVERTICAL] [smallint] NULL,
	[RIGHTDEPTHFACINGS] [smallint] NULL,
	[RIGHTHORIZCRUSH] [float] NULL,
	[RIGHTVERTCRUSH] [float] NULL,
	[RIGHTDEPTHCRUSH] [float] NULL,
	[RIGHTORIENTATION] [smallint] NULL,
	[RIGHTMERCHSTYLE] [smallint] NULL,
	[TOPHORIZONTAL] [smallint] NULL,
	[TOPVERTICAL] [smallint] NULL,
	[TOPDEPTHFACINGS] [smallint] NULL,
	[TOPHORIZCRUSH] [float] NULL,
	[TOPVERTCRUSH] [float] NULL,
	[TOPDEPTHCRUSH] [float] NULL,
	[TOPORIENTATION] [smallint] NULL,
	[TOPMERCHSTYLE] [smallint] NULL,
	[BACKHORIZONTAL] [smallint] NULL,
	[BACKVERTICAL] [smallint] NULL,
	[BACKDEPTHFACINGS] [smallint] NULL,
	[BACKHORIZCRUSH] [float] NULL,
	[BACKVERTCRUSH] [float] NULL,
	[BACKDEPTHCRUSH] [float] NULL,
	[BACKORIENTATION] [smallint] NULL,
	[BACKMERCHSTYLE] [smallint] NULL,
	[CONTAINERPOSITIONID] [nvarchar](255) NULL,
	[SHAREDPEGID] [nvarchar](255) NULL,
	[AUTOFILLPEG] [smallint] NULL,
	[RANKX] [int] NULL,
	[RANKY] [int] NULL,
	[RANKZ] [int] NULL,
	[PEGSPERFACING] [smallint] NULL,
	[TOTALPEGS] [smallint] NULL,
 CONSTRAINT [PK_ACN_POSITION] PRIMARY KEY CLUSTERED 
(
	[PLN_ID] ASC,
	[FIXEL_ID] ASC,
	[POSITION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ACN_POSITION]  WITH NOCHECK ADD  CONSTRAINT [FK_ACN_POSITION] FOREIGN KEY([PLN_ID])
REFERENCES [dbo].[ACN_PLANOGRAMS] ([PLN_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ACN_POSITION] CHECK CONSTRAINT [FK_ACN_POSITION]
GO
ALTER TABLE [dbo].[ACN_POSITION]  WITH NOCHECK ADD  CONSTRAINT [FK_ACN_POSITION1] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[ACN_PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [dbo].[ACN_POSITION] NOCHECK CONSTRAINT [FK_ACN_POSITION1]
GO
