USE [mySpaceman_datdb]
GO
/****** Object:  StoredProcedure [dbo].[uspWersjonowaniePLN]    Script Date: 2017-09-07 09:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspWersjonowaniePLN]

	@wersja_in  NVARCHAR(255),
	@wersja_out NVARCHAR(255),
	@data_start NVARCHAR(255),
	@data_stop  NVARCHAR(255)

AS
BEGIN
	-- opcjonalna zmiana statusu wersji wejściowej
	UPDATE [dbo].[ACN_PLANOGRAMS]
	SET [STATUS] = N'ZAKOŃCZONY'
	WHERE [WERSJA_PLANOGRAMU] = @wersja_in;
	
	/* ================================================================================================================ */
	INSERT INTO [dbo].[ACN_PLANOGRAMS](
		 [PLN_ID]
		,[ACCESSEDBY]
		,[ACCESSEDDATE]
		,[CREATIONDATE]
		,[INUSEBY]
		,[MODIFIEDBY]
		,[MODIFIEDDATE]
		,[PLANOGRAM]
		,[STATUS]
		,[WERSJA_PLANOGRAMU]
		,[DATA_START]
		,[DATA_STOP]
		,[OWNER]
	)
	SELECT
		 [nowy_id].[ostatni_id] + ROW_NUMBER() OVER ( ORDER BY ( SELECT NULL ) )
		,NULL
		,NULL
		,GETDATE()
		,N''
		,USER
		,GETDATE()
		,[pln].[PLANOGRAM]
		,N'AKTYWNY'
		,@wersja_out
		,@data_start
		,@data_stop
		,USER
	FROM [dbo].[ACN_PLANOGRAMS] AS [pln]
	CROSS APPLY (
		SELECT MAX( PLN_ID ) AS [ostatni_id]
		FROM [dbo].[ACN_PLANOGRAMS]
	) AS [nowy_id]
	WHERE [pln].[WERSJA_PLANOGRAMU] = @wersja_in
	/* ================================================================================================================ */
	INSERT INTO [dbo].[ACN_FIXEL](
		 [PLN_ID]
		,[DRAW]
		,[LABEL_ON]
		,[DIM_WIDTH]
		,[DIM_ELEVATION]
		,[FILL_COLOR]
		,[FIXEL_ID]
		,[FIXEL_NAME]
		,[MANUFACTURER]
		,[TYPE]
		,[BASKET_FILL]
		,[OCCUPANCY]
		,[ROTATION]
		,[SLOPE]
		,[NOTCH_POSITION]
		,[X]
		,[Y]
		,[Z]
		,[HEIGHT]
		,[WIDTH]
		,[DEPTH]
		,[THICKNESS]
		,[HORIZ_SPACING]
		,[VERT_SPACING]
		,[GRILL_HEIGHT]
		,[GRILL_SLOPE]
		,[MAX_MERCH]
		,[DEP_SPACING]
		,[SP_TOP]
		,[FRONT]
		,[GRID_TYPE]
		,[ASSEMBLY]
		,[ATTACHED_TO]
		,[HORIZ_GAP]
		,[SPACER_THICK]
		,[FINGER_SPACE]
		,[AVAILABLE]
		,[GRILL]
		,[MAX_HIGH]
		,[MAX_DEEP]
		,[TANGENT]
		,[ANGLE]
		,[RISE]
		,[PLACEMENT]
		,[NOTCH_SNAP_Y]
		,[FRAME_ELEMENT]
		,[SEGMENT]
		,[FIT_TYPE]
		,[LEFT_OVERHANG]
		,[RIGHT_OVERHANG]
		,[FRONT_OVERHANG]
		,[BACK_OVERHANG]
		,[UPPER_OVERHANG]
		,[LOWER_OVERHANG]
		,[COMBINE]
		,[MIN_HIGH]
		,[MIN_DEEP]
		,[TEXTFIELD]
		,[ALLOW_OVERLAP]
		,[FILL_MODE]
		,[LABEL]
		,[SPREAD_PRODUCTS]
		,[SECTION_ID]
		,[FONTID]
		,[FLIPPED]
		,[AUTO_CRUSH]
		,[COLOUR]
		,[COLOURISCLEAR]
		,[FILL_PATTERN]
		,[TEXTBOX_WORD_WRAP]
		,[TEXTBOX_REDUCE_TO_FIT]
		,[HORIZSLOTSTART]
		,[HORIZSLOTSPACING]
		,[DEPTHSLOTSTART]
		,[DEPTHSLOTSPACING]
		,[LOCALX]
		,[LOCALY]
		,[LOCALZ]
		,[SNAPTOSLOT]
		,[SLOT_ORIENTATION]
		,[FIXED]
		,[FIXTUREDISTANCE]
		,[TREATASSIGN]
	)
	SELECT
		 [pln2].[PLN_ID]
		,[fix].[DRAW]
		,[fix].[LABEL_ON]
		,[fix].[DIM_WIDTH]
		,[fix].[DIM_ELEVATION]
		,[fix].[FILL_COLOR]
		,[fix].[FIXEL_ID]
		,[fix].[FIXEL_NAME]
		,[fix].[MANUFACTURER]
		,[fix].[TYPE]
		,[fix].[BASKET_FILL]
		,[fix].[OCCUPANCY]
		,[fix].[ROTATION]
		,[fix].[SLOPE]
		,[fix].[NOTCH_POSITION]
		,[fix].[X]
		,[fix].[Y]
		,[fix].[Z]
		,[fix].[HEIGHT]
		,[fix].[WIDTH]
		,[fix].[DEPTH]
		,[fix].[THICKNESS]
		,[fix].[HORIZ_SPACING]
		,[fix].[VERT_SPACING]
		,[fix].[GRILL_HEIGHT]
		,[fix].[GRILL_SLOPE]
		,[fix].[MAX_MERCH]
		,[fix].[DEP_SPACING]
		,[fix].[SP_TOP]
		,[fix].[FRONT]
		,[fix].[GRID_TYPE]
		,[fix].[ASSEMBLY]
		,[fix].[ATTACHED_TO]
		--,[fix].[HORIZ_GAP]
		,0 -- zawsze ma być 0, żeby konwersja Spacemana nie zjebała ustawienia na półkach!!!
		,[fix].[SPACER_THICK]
		,[fix].[FINGER_SPACE]
		--,[fix].[AVAILABLE]
		,[fix].[WIDTH] + [fix].[LEFT_OVERHANG] + [fix].[RIGHT_OVERHANG]
		,[fix].[GRILL]
		,[fix].[MAX_HIGH]
		,[fix].[MAX_DEEP]
		,[fix].[TANGENT]
		,[fix].[ANGLE]
		,[fix].[RISE]
		,[fix].[PLACEMENT]
		,[fix].[NOTCH_SNAP_Y]
		,[fix].[FRAME_ELEMENT]
		,[fix].[SEGMENT]
		,[fix].[FIT_TYPE]
		,[fix].[LEFT_OVERHANG]
		,[fix].[RIGHT_OVERHANG]
		,[fix].[FRONT_OVERHANG]
		,[fix].[BACK_OVERHANG]
		,[fix].[UPPER_OVERHANG]
		,[fix].[LOWER_OVERHANG]
		,[fix].[COMBINE]
		,[fix].[MIN_HIGH]
		,[fix].[MIN_DEEP]
		,[fix].[TEXTFIELD]
		,[fix].[ALLOW_OVERLAP]
		,[fix].[FILL_MODE]
		,[fix].[LABEL]
		,[fix].[SPREAD_PRODUCTS]
		,[fix].[SECTION_ID]
		,[fix].[FONTID]
		,[fix].[FLIPPED]
		--,[fix].[AUTO_CRUSH]
		,0
		/*
		,CASE WHEN [fix].[FIXEL_ID] IN ( N'6 /wit. i supl. II' )
			THEN 1
			ELSE 0
		 END
		 */
		,[fix].[COLOUR]
		,[fix].[COLOURISCLEAR]
		,[fix].[FILL_PATTERN]
		,[fix].[TEXTBOX_WORD_WRAP]
		,[fix].[TEXTBOX_REDUCE_TO_FIT]
		,[fix].[HORIZSLOTSTART]
		,[fix].[HORIZSLOTSPACING]
		,[fix].[DEPTHSLOTSTART]
		,[fix].[DEPTHSLOTSPACING]
		,[fix].[LOCALX]
		,[fix].[LOCALY]
		,[fix].[LOCALZ]
		,[fix].[SNAPTOSLOT]
		,[fix].[SLOT_ORIENTATION]
		,[fix].[FIXED]
		,[fix].[FIXTUREDISTANCE]
		,[fix].[TREATASSIGN]
	FROM [dbo].[ACN_PLANOGRAMS] AS [pln1]
	JOIN [dbo].[ACN_FIXEL]		AS [fix]  ON [pln1].[PLN_ID] = [fix].[PLN_ID]
	JOIN [dbo].[ACN_PLANOGRAMS] AS [pln2] ON [pln1].[PLANOGRAM] = [pln2].[PLANOGRAM]
	WHERE [pln1].[WERSJA_PLANOGRAMU] = @wersja_in AND [pln2].[WERSJA_PLANOGRAMU] = @wersja_out
	/* ================================================================================================================ */
	INSERT INTO [dbo].[ACN_SECTION](
		 [PLN_ID]
		,[GONDOLA]
		,[AISLE]
		,[DEPARTMENT]
		,[BACK_DEPTH]
		,[BASE_HEIGHT]
		,[BASE_WIDTH]
		,[BASE_DEPTH]
		,[NOTCH_WIDTH]
		,[NOTCH_SPACING]
		,[NOTCH_START]
		,[SECTION_ID]
		,[SECTION_NAME]
		,[X]
		,[Y]
		,[Z]
		,[HEIGHT]
		,[WIDTH]
		,[DEPTH]
		,[MIN_X]
		,[MIN_Y]
		,[MIN_Z]
		,[SEGMENT_WIDTH]
		,[VERT_SPACING]
		,[VERT_START]
		,[HORIZ_SPACING]
		,[HORIZ_START]
		,[ALLOW_OVERLAP]
		,[FILL_COLOR]
		,[TRAFFIC_FLOW]
		,[COLOUR]
		,[COLOURISCLEAR]
		,[FILL_PATTERN]
	)
	SELECT
		 [pln2].[PLN_ID]
		,[sec].[GONDOLA]
		,[sec].[AISLE]
		,[sec].[DEPARTMENT]
		,[sec].[BACK_DEPTH]
		,[sec].[BASE_HEIGHT]
		,[sec].[BASE_WIDTH]
		,[sec].[BASE_DEPTH]
		,[sec].[NOTCH_WIDTH]
		,[sec].[NOTCH_SPACING]
		,[sec].[NOTCH_START]
		--,[sec].[SECTION_ID]
		,CASE WHEN [pln2].[PLANOGRAM] LIKE N'%[KAT][KAT][KAT]_PODSTAWOWE%'					THEN N'Standard'
			  WHEN [pln2].[PLANOGRAM] like N'%[PROMO][PROMO][PROMO][PROMO][PROMO]_SEZON%'	THEN N'Promocje&Sezon'
			  WHEN [pln2].[PLANOGRAM] like N'%DERMO%'										THEN N'Dermokosmetyki'
			  ELSE N'Niestandardowe'
		 END
		--,[sec].[SECTION_NAME]
		,CASE WHEN [pln2].[PLANOGRAM] LIKE N'%[KAT][KAT][KAT]_PODSTAWOWE%'					THEN N'Standard'
			  WHEN [pln2].[PLANOGRAM] like N'%[PROMO][PROMO][PROMO][PROMO][PROMO]_SEZON%'	THEN N'Promocje&Sezon'
			  WHEN [pln2].[PLANOGRAM] like N'%DERMO%'										THEN N'Dermokosmetyki'
			  ELSE N'Niestandardowe'
		 END
		,[sec].[X]
		,[sec].[Y]
		,[sec].[Z]
		,[sec].[HEIGHT]
		,[sec].[WIDTH]
		,[sec].[DEPTH]
		,[sec].[MIN_X]
		,[sec].[MIN_Y]
		,[sec].[MIN_Z]
		,[sec].[SEGMENT_WIDTH]
		,[sec].[VERT_SPACING]
		,[sec].[VERT_START]
		,[sec].[HORIZ_SPACING]
		,[sec].[HORIZ_START]
		--,[sec].[ALLOW_OVERLAP]
		,0
		--,[sec].[FILL_COLOR]
		,3
		--,[sec].[TRAFFIC_FLOW]
		,0
		--,[sec].[COLOUR]
		,4802889
		--,[sec].[COLOURISCLEAR]
		,0
		--,[sec].[FILL_PATTERN]
		,0
	FROM [dbo].[ACN_PLANOGRAMS] AS [pln1]
	JOIN [dbo].[ACN_SECTION]	AS [sec]  ON [pln1].[PLN_ID] = [sec].[PLN_ID]
	JOIN [dbo].[ACN_PLANOGRAMS] AS [pln2] ON [pln1].[PLANOGRAM] = [pln2].[PLANOGRAM]
	WHERE [pln1].[WERSJA_PLANOGRAMU] = @wersja_in AND [pln2].[WERSJA_PLANOGRAMU] = @wersja_out
	/* ================================================================================================================ */
	INSERT INTO [dbo].[ACN_FONT](
		 [PLN_ID]
		,[COLLECTION_ID]
		,[BOLD]
		,[CHARSET]
		,[ITALIC]
		,[FONT_NAME]
		,[SIZE_VAL]
		,[STRIKETHROUGH]
		,[UNDERLINE]
		,[WEIGHT]
		,[COLOUR]
	)
	SELECT
		 [pln2].[PLN_ID]
		,[fon].[COLLECTION_ID]
		,[fon].[BOLD]
		,[fon].[CHARSET]
		,[fon].[ITALIC]
		,[fon].[FONT_NAME]
		,[fon].[SIZE_VAL]
		,[fon].[STRIKETHROUGH]
		,[fon].[UNDERLINE]
		,[fon].[WEIGHT]
		,[fon].[COLOUR]
	FROM [dbo].[ACN_PLANOGRAMS] AS [pln1]
	JOIN [dbo].[ACN_FONT]		AS [fon]  ON [pln1].[PLN_ID] = [fon].[PLN_ID]
	JOIN [dbo].[ACN_PLANOGRAMS] AS [pln2] ON [pln1].[PLANOGRAM] = [pln2].[PLANOGRAM]
	WHERE [pln1].[WERSJA_PLANOGRAMU] = @wersja_in AND [pln2].[WERSJA_PLANOGRAMU] = @wersja_out
	/* ================================================================================================================ */
	INSERT INTO [dbo].[ACN_PRN](
		 [PLN_ID]
		,[STORE_ID]
		,[SHOWDATE]
		,[FIRSTSEGMENT]
		,[LASTSEGMENT]
		,[TRAFFIC_ARROW]
		,[SHOWTITLE]
		,[SHOWSUBTITLE]
		,[SHOWTEXTBOXES]
		,[SHOWVERTRULER]
		,[SHOWHORZRULER]
		,[SEG_WIDTHS_ARROWS]
		,[FIXEL_DISTANCES]
		,[DIST_RELATIVE]
		,[FIRST_PEG_HEIGHT]
		,[FIRST_PEG_LENGTH]
		,[DIM_SHELF_DEPTHS]
		,[DIM_GR_HEIGHTS]
		,[SEGMENTSPLIT]
		,[INCLUDETIME]
		,[INCLUDEFILENAME]
		,[INCLUDEDIMENSIONS]
		,[INCLUDELOGOS]
		,[LOGOFILENAME]
		,[INCLUDENOTES]
		,[NOTEPOSITION]
		,[TITLEFONTNAME]
		,[TITLEFONTSIZE]
		,[TITLEFONTBOLD]
		,[TITLEFONTITALIC]
		,[TITLEFONTCHARSET]
		,[SUBTITLEFONTNAME]
		,[SUBTITLEFONTSIZE]
		,[SUBTITLEFONTBOLD]
		,[SUBTITLEFONTITALIC]
		,[SUBTITLEFONTCHARSET]
		,[DATEFONTSIZE]
		,[DATEFONTBOLD]
		,[DATEFONTITALIC]
		,[DATEFONTCHARSET]
		,[TIMEFONTNAME]
		,[TIMEFONTSIZE]
		,[TIMEFONTBOLD]
		,[TIMEFONTITALIC]
		,[TIMEFONTCHARSET]
		,[FILENAMEFONTNAME]
		,[FILENAMEFONTSIZE]
		,[FILENAMEFONTBOLD]
		,[FILENAMEFONTITALIC]
		,[FILENAMEFONTCHARSET]
		,[DIMENSIONSFONTNAME]
		,[DIMENSIONSFONTSIZE]
		,[DIMENSIONSFONTBOLD]
		,[DIMENSIONSFONTITALIC]
		,[DIMENSIONSFONTCHARSET]
		,[SEGMENTDESCRIPTIONFONTNAME]
		,[SEGMENTDESCRIPTIONFONTSIZE]
		,[SEGMENTDESCRIPTIONFONTBOLD]
		,[SEGMENTDESCRIPTIONFONTITALIC]
		,[SEGMENTDESCRIPTIONFONTCHARSET]
		,[PRIMARYVIEW]
		,[PRIMARYSTRETCHTOFIT]
		,[PRIMARYHORIZONTALROTATION]
		,[PRIMARYVERTICALROTATION]
		,[SECONDARYVIEW]
		,[SECONDARYSTRETCHTOFIT]
		,[SECONDARYHORIZONTALROTATION]
		,[SECONDARYVERTICALROTATION]
		,[SPLIT]
		,[BLUEPRINT]
		,[SEGMENTOPTION]
		,[SELECTSEGMENT]
		,[SEGMENTEVERY]
		,[SEGMENTFROM]
		,[SEGMENTTO]
		,[CUSTOMSEGMENTSTRING]
		,[OUTPUTDESIGNERTEMPLATEFILENAME]
		,[INCLUDEPAGENUMBER]
		,[PAGENUMBERFORMAT]
		,[PRINTSEGMENTNUMBER]
		,[IGNORENONSEGMENTOBJECTS]
		,[DIMELEVATIONENDPOINT]
		,[INCLUDEOUTPUTDESIGNERTEMPLATE]
		,[ORIENTATION]
		,[PRINTLEGEND]
		,[LEGENDLOCATION]
		,[LEGENDFONTNAME]
		,[LEGENDFONTSIZE]
		,[LEGENDFONTBOLD]
		,[LEGENDFONTITALIC]
		,[LEGENDFONTCHARSET]
		,[NOTESFONTNAME]
		,[NOTESFONTSIZE]
		,[NOTESFONTBOLD]
		,[NOTESFONTITALIC]
		,[NOTESFONTCHARSET]
	)
	SELECT
		 [pln2].[PLN_ID]
		,[prn].[STORE_ID]
		,[prn].[SHOWDATE]
		,[prn].[FIRSTSEGMENT]
		,[prn].[LASTSEGMENT]
		,[prn].[TRAFFIC_ARROW]
		,[prn].[SHOWTITLE]
		,[prn].[SHOWSUBTITLE]
		,[prn].[SHOWTEXTBOXES]
		,[prn].[SHOWVERTRULER]
		,[prn].[SHOWHORZRULER]
		,[prn].[SEG_WIDTHS_ARROWS]
		,[prn].[FIXEL_DISTANCES]
		,[prn].[DIST_RELATIVE]
		,[prn].[FIRST_PEG_HEIGHT]
		,[prn].[FIRST_PEG_LENGTH]
		,[prn].[DIM_SHELF_DEPTHS]
		,[prn].[DIM_GR_HEIGHTS]
		,[prn].[SEGMENTSPLIT]
		,[prn].[INCLUDETIME]
		,[prn].[INCLUDEFILENAME]
		,[prn].[INCLUDEDIMENSIONS]
		,[prn].[INCLUDELOGOS]
		--,[prn].[LOGOFILENAME]
		,N'C:\Spaceman\Config\LOGO PARTNER+.JPG'
		,[prn].[INCLUDENOTES]
		,[prn].[NOTEPOSITION]
		,[prn].[TITLEFONTNAME]
		,[prn].[TITLEFONTSIZE]
		,[prn].[TITLEFONTBOLD]
		,[prn].[TITLEFONTITALIC]
		,[prn].[TITLEFONTCHARSET]
		,[prn].[SUBTITLEFONTNAME]
		,[prn].[SUBTITLEFONTSIZE]
		,[prn].[SUBTITLEFONTBOLD]
		,[prn].[SUBTITLEFONTITALIC]
		,[prn].[SUBTITLEFONTCHARSET]
		,[prn].[DATEFONTSIZE]
		,[prn].[DATEFONTBOLD]
		,[prn].[DATEFONTITALIC]
		,[prn].[DATEFONTCHARSET]
		,[prn].[TIMEFONTNAME]
		,[prn].[TIMEFONTSIZE]
		,[prn].[TIMEFONTBOLD]
		,[prn].[TIMEFONTITALIC]
		,[prn].[TIMEFONTCHARSET]
		,[prn].[FILENAMEFONTNAME]
		,[prn].[FILENAMEFONTSIZE]
		,[prn].[FILENAMEFONTBOLD]
		,[prn].[FILENAMEFONTITALIC]
		,[prn].[FILENAMEFONTCHARSET]
		,[prn].[DIMENSIONSFONTNAME]
		,[prn].[DIMENSIONSFONTSIZE]
		,[prn].[DIMENSIONSFONTBOLD]
		,[prn].[DIMENSIONSFONTITALIC]
		,[prn].[DIMENSIONSFONTCHARSET]
		,[prn].[SEGMENTDESCRIPTIONFONTNAME]
		,[prn].[SEGMENTDESCRIPTIONFONTSIZE]
		,[prn].[SEGMENTDESCRIPTIONFONTBOLD]
		,[prn].[SEGMENTDESCRIPTIONFONTITALIC]
		,[prn].[SEGMENTDESCRIPTIONFONTCHARSET]
		,[prn].[PRIMARYVIEW]
		,[prn].[PRIMARYSTRETCHTOFIT]
		,[prn].[PRIMARYHORIZONTALROTATION]
		,[prn].[PRIMARYVERTICALROTATION]
		,[prn].[SECONDARYVIEW]
		,[prn].[SECONDARYSTRETCHTOFIT]
		,[prn].[SECONDARYHORIZONTALROTATION]
		,[prn].[SECONDARYVERTICALROTATION]
		,[prn].[SPLIT]
		,[prn].[BLUEPRINT]
		,[prn].[SEGMENTOPTION]
		,[prn].[SELECTSEGMENT]
		,[prn].[SEGMENTEVERY]
		,[prn].[SEGMENTFROM]
		,[prn].[SEGMENTTO]
		,[prn].[CUSTOMSEGMENTSTRING]
		--,[prn].[OUTPUTDESIGNERTEMPLATEFILENAME]
		,N'C:\Spaceman\Layouts\PLN IND v3 APP.plt'
		,[prn].[INCLUDEPAGENUMBER]
		,[prn].[PAGENUMBERFORMAT]
		,[prn].[PRINTSEGMENTNUMBER]
		,[prn].[IGNORENONSEGMENTOBJECTS]
		,[prn].[DIMELEVATIONENDPOINT]
		,[prn].[INCLUDEOUTPUTDESIGNERTEMPLATE]
		,[prn].[ORIENTATION]
		,[prn].[PRINTLEGEND]
		,[prn].[LEGENDLOCATION]
		,[prn].[LEGENDFONTNAME]
		,[prn].[LEGENDFONTSIZE]
		,[prn].[LEGENDFONTBOLD]
		,[prn].[LEGENDFONTITALIC]
		,[prn].[LEGENDFONTCHARSET]
		,[prn].[NOTESFONTNAME]
		,[prn].[NOTESFONTSIZE]
		,[prn].[NOTESFONTBOLD]
		,[prn].[NOTESFONTITALIC]
		,[prn].[NOTESFONTCHARSET]
	FROM [dbo].[ACN_PLANOGRAMS] AS [pln1]
	JOIN [dbo].[ACN_PRN]		AS [prn]  ON [pln1].[PLN_ID] = [prn].[PLN_ID]
	JOIN [dbo].[ACN_PLANOGRAMS] AS [pln2] ON [pln1].[PLANOGRAM] = [pln2].[PLANOGRAM]
	WHERE [pln1].[WERSJA_PLANOGRAMU] = @wersja_in AND [pln2].[WERSJA_PLANOGRAMU] = @wersja_out
	/* ================================================================================================================ */
	INSERT INTO [dbo].[ACN_STORE](
		 [PLN_ID]
		,[STORE_ID]
		,[STORE_NAME]
		,[DESC_1]
		,[DESC_2]
		,[DESC_3]
		,[DESC_4]
		,[DESC_5]
		,[DESC_6]
		,[DESC_7]
		,[FOR_LINE]
		,[BY_LINE_1]
		,[BY_LINE_2]
		,[MESSAGE_LINE_1]
		,[MESSAGE_LINE_2]
		,[MESSAGE_LINE_3]
		,[MESSAGE_LINE_4]
		,[MESSAGE_LINE_5]
		,[MESSAGE_LINE_6]
		,[MESSAGE_LINE_7]
		,[TITLE]
		,[SUBTITLE]
		,[MESSAGE_LINE_8]
		,[MESSAGE_LINE_9]
		,[MESSAGE_LINE_10]
		,[NORMALIZE_TO]
		,[CURRENCY_SYMBOL]
		,[NOTES]
		,[FILEVERSION]
		,[USINGOVERFLOWSPACE]
		,[PLANOGRAMID]
		,[PLANOGRAMTEMPLATEID]
	)
	SELECT
		 [pln2].[PLN_ID]
		,[sto].[STORE_ID]
		,[sto].[STORE_NAME]
		,[sto].[DESC_1]
		,[sto].[DESC_2]
		,[sto].[DESC_3]
		,[sto].[DESC_4]
		,[sto].[DESC_5]
		,[sto].[DESC_6]
		,[sto].[DESC_7]
		,[sto].[FOR_LINE]
		,[sto].[BY_LINE_1]
		,[sto].[BY_LINE_2]
		,[sto].[MESSAGE_LINE_1]
		,[sto].[MESSAGE_LINE_2]
		,[sto].[MESSAGE_LINE_3]
		,[sto].[MESSAGE_LINE_4]
		,[sto].[MESSAGE_LINE_5]
		,[sto].[MESSAGE_LINE_6]
		,[sto].[MESSAGE_LINE_7]
		,[sto].[TITLE]
		,[sto].[SUBTITLE]
		,[sto].[MESSAGE_LINE_8]
		,[sto].[MESSAGE_LINE_9]
		,[sto].[MESSAGE_LINE_10]
		,[sto].[NORMALIZE_TO]
		,[sto].[CURRENCY_SYMBOL]
		,[sto].[NOTES]
		,[sto].[FILEVERSION]
		--,[sto].[USINGOVERFLOWSPACE]
		,0
		--,[sto].[PLANOGRAMID]
		,NEWID()
		--,[sto].[PLANOGRAMTEMPLATEID]
		,0
	FROM [dbo].[ACN_PLANOGRAMS] AS [pln1]
	JOIN [dbo].[ACN_STORE]		AS [sto]  ON [pln1].[PLN_ID] = [sto].[PLN_ID]
	JOIN [dbo].[ACN_PLANOGRAMS] AS [pln2] ON [pln1].[PLANOGRAM] = [pln2].[PLANOGRAM]
	WHERE [pln1].[WERSJA_PLANOGRAMU] = @wersja_in AND [pln2].[WERSJA_PLANOGRAMU] = @wersja_out
	
END




GO
