USE [mySpaceman_datdb]
GO
/****** Object:  Table [dbo].[ACN_PRODUCT_PLN]    Script Date: 2017-09-07 09:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACN_PRODUCT_PLN](
	[PLN_ID] [int] NOT NULL,
	[ACTION] [smallint] NULL,
	[TIMESTAMP] [float] NULL,
	[LINKPRODUCTID] [nvarchar](255) NULL,
	[PRODUCT_ID] [nvarchar](255) NOT NULL,
	[STD_PEG] [nvarchar](255) NULL,
	[OVERHANG] [float] NULL,
	[HORIZ_GAP] [float] NULL,
	[REG_MOVEMENT] [float] NULL,
	[PROMO_MOVEMENT] [float] NULL,
	[PRICE] [float] NULL,
	[PRICE_MULTIPLE] [smallint] NULL,
	[LOCATION_ID] [nvarchar](255) NULL,
	[PREFERRED_FIXEL] [nvarchar](255) NULL,
	[PRICE_2] [float] NULL,
	[PEGSPERFACING] [smallint] NULL,
 CONSTRAINT [PK_ACN_PRODUCT_PLN] PRIMARY KEY CLUSTERED 
(
	[PLN_ID] ASC,
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IDX_ACN_PRODUCT_PLN_PREFERRED_FIXEL]    Script Date: 2017-09-07 09:42:42 ******/
CREATE NONCLUSTERED INDEX [IDX_ACN_PRODUCT_PLN_PREFERRED_FIXEL] ON [dbo].[ACN_PRODUCT_PLN]
(
	[PREFERRED_FIXEL] ASC
)
INCLUDE ( 	[PLN_ID],
	[PRODUCT_ID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACN_PRODUCT_PLN]  WITH NOCHECK ADD  CONSTRAINT [FK_ACN_PRODUCT_PLN] FOREIGN KEY([PLN_ID])
REFERENCES [dbo].[ACN_PLANOGRAMS] ([PLN_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ACN_PRODUCT_PLN] CHECK CONSTRAINT [FK_ACN_PRODUCT_PLN]
GO
ALTER TABLE [dbo].[ACN_PRODUCT_PLN]  WITH NOCHECK ADD  CONSTRAINT [FK_ACN_PRODUCT_PLN1] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[ACN_PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [dbo].[ACN_PRODUCT_PLN] NOCHECK CONSTRAINT [FK_ACN_PRODUCT_PLN1]
GO
